body {
  background-color: #fffafa;
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.navbar {
  margin-bottom: 0 !important;
}

.navbar-brand {
  color: #057abf;
  font-weight: 450;
}

.navbar-brand > span {
  color: #057abf;
  font-weight: 700 !important;
}


#profilepic {
  border-radius: 50%;
}

#profilesocials{
  border-top-style: solid;
  border-bottom-style: solid;
  border-width: 1px;
}

.bodyh1 {
  margin-bottom: 5px;
}

h1.bodyh1::after {
  display: block;
  content: " ";
  width: 75px;
  border-bottom: 0.08em solid #057abf;
  margin-top: 8px;
  margin-left: auto;
  margin-right: auto;
}


#footer {
  margin-top: 1.5em;
}

/* Restores previous boostrap container width of 1170px */
@media (min-width: 1200px) {
    .container{
        max-width: 1170px;
    }
}
