body {
  background-color: #fffafa;
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.navbar {
  margin-bottom: 0 !important;
}

.navbar-brand {
  color: #057abf;
  font-weight: 450;
}

.navbar-brand > span {
  color: #057abf;
  font-weight: 700 !important;
}
