body {
  background-color: #fffafa;
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.navbar {
  margin-bottom: 0 !important;
}

.navbar-brand {
  color: #057abf;
  font-weight: 450;
}

.navbar-brand > span {
  color: #057abf;
  font-weight: 700 !important;
}

#main-banner {
  background-color: #bbbdbe;
  padding: 20em 10em 20em 10em;
  background-image: url("https://via.placeholder.com/1920x500") no-repeat center center;
}

#mission {
  margin-top: 1.2em;
  margin-bottom: 1.5em;
}

#ms {
  font-size: 22px;
  font-weight: 400;
}

#sponsors {
  margin-bottom: 1.5em;
}

#yt {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

#feed {
  background-color: #fff;
}

.bodyh1 {
  margin-bottom: 5px;
}

h1.bodyh1::after {
  display: block;
  content: " ";
  width: 75px;
  border-bottom: 0.08em solid #057abf;
  margin-top: 8px;
  margin-left: auto;
  margin-right: auto;
}

h3 {
  font-weight: 650;
}

.involve {
  display: inline-block;
  text-align: center;
  vertical-align: bottom;
  margin-top: 2em;
}

.involve i {
  font-size: 50px;
  color: #057abf;
}

.involve-text {
  font-size: 18px;
  font-weight: 150;
  padding: 0 1em 0 1em;
}

#footer {
  margin-top: 1.5em;
}

/* Restores previous boostrap container width of 1170px */
@media (min-width: 1200px) {
    .container{
        max-width: 1170px;
    }
}
